name: Build and Push to Docker Hub

on:
    push:
        branches:
            - main
            - feature

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Docker image tags
              id: vars
              run: |
                  raw_ref="${GITHUB_REF_NAME}"
                  safe_ref="${raw_ref//\//-}"
                  SHORT_SHA=$(git rev-parse --short HEAD)
                  DATE_TAG=$(date +'%Y%m%d')

                  if [ "$raw_ref" = "main" ]; then
                    VERSION_TAG="${DATE_TAG}-${SHORT_SHA}"
                    echo "TAGS=heung115/spaghetti-be:$VERSION_TAG,heung115/spaghetti-be:latest" >> $GITHUB_ENV
                  else
                    echo "TAGS=heung115/spaghetti-be:$safe_ref,heung115/spaghetti-be:dev" >> $GITHUB_ENV
                  fi

            - name: Log in to Docker Hub
              uses: docker/login-action@v3
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and Push Docker Image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  push: true
                  tags: |
                      ${{ env.TAGS }}
